<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{realstate/dashboard/fragments/common-head :: dashboard-common-head}"><title>Title</title></head>

<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav th:replace="~{realstate/dashboard/fragments/common-top-sidebar :: commonTopSidebarNav}"></nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav th:replace="~{realstate/dashboard/fragments/common-sidebar :: commonSidebarNav}"></nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <td>
                        <div>
                            <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                <p class="text-success">100%</p>
                                <!--                                        <p>85/162</p>-->
                            </div>
                            <div class="progress progress-md">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="badge badge-opacity-warning">Ultimo paso subir imagenes</div>
                    </td>
                    <div class="container-fluid" style="max-width: 600px; margin: 0 auto;">
                        <div class="row">
                        <div  class="col-md-4" id="dropzone1">
                            <form th:action="@{'/upload/user/' + ${userId} + '/item/' + ${itemId} + '?principal=true'}" class="dropzone needsclick" id="principal-image" method="post">
                                <div class="dz-message needsclick">
                                    <button type="button" class="dz-button">Drop principal image here or click to upload (max size 5mb).</button>
                                    <br/>
                                </div>
                            </form>
                        </div>
                        <div  class="col-md-8" id="dropzone2">
                            <form th:action="@{'/upload/user/' + ${userId} + '/item/' + ${itemId}+ '?principal=false'}" class="dropzone needsclick" id="secondaries-images" method="post">
                                <div class="dz-message needsclick">
                                    <button type="button" class="dz-button">Drop the rest of images here or click to upload (max size 5mb).</button>
                                    <br/>
                                </div>
                            </form>
                        </div>
                        </div>

                        <h2 class="text-center">List of Images</h2>
                        <div id="primaryComponent">
                            <table class="table table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Image</th>
                                    <th scope="col">File Name</th>
                                    <th scope="col">Link</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="image : ${images}">
                                    <td><label class="badge badge-success">Principal</label></td>
                                    <td><img th:src="${image.url}" alt="${image.name}" height="60px" /></td>
                                    <td>[[${image.name}]]</td>
                                    <td><a th:href="${image.url}">Download</a></td>
                                    <td>
                                        <a th:href="@{'/images/delete/user/' + ${userId} + '/item/' + ${itemId} +'/file/  ' + ${image.name}}" th:fileName="${image.name}"
                                           id="btnDelete1" title="Delete this image" class="fa-regular fa-trash-can icon-dark btn-delete"></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="secondaryComponent">
                            <table class="table table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="image : ${images}">
                                    <td><label class="badge badge-success"></label></td>
                                    <td><img th:src="${image.url}" alt="${image.name}" height="60px" /></td>
                                    <td>[[${image.name}]]</td>
                                    <td><a th:href="${image.url}">Download</a></td>
                                    <td>
                                        <a th:href="@{'/images/delete/user/' + ${userId} + '/item/' + ${itemId} +'/file/  ' + ${image.name}}" th:fileName="${image.name}"
                                           id="btnDelete2" title="Delete this image" class="fa-regular fa-trash-can icon-dark btn-delete"></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="modal fade text-center" id="confirmModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete Confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <span id="confirmText"></span>
                                </div>

                                <div class="modal-footer">
                                    <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="userId" th:value="${userId}"/>
                        <input type="hidden" id="itemId" th:value="${itemId}"/>
                    </div>
                    <a th:href="@{/property/new}" class="btn btn-success px-3 d-none d-lg-flex">Add new Property</a>
                    <a th:href="@{/dashboard}" class="btn btn-primary px-3 d-none d-lg-flex">Save and Finish</a>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer th:replace="~{realstate/dashboard/fragments/common-footer :: commonFooterFragment}"></footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<th:block th:replace="~{realstate/dashboard/fragments/common-scripts :: commonScripts}"></th:block>

<script type="text/javascript">
    $(document).ready(function () {
        $(".btn-delete").on("click", function (e) {
            e.preventDefault();
            var link = $(this);

            var fileName = link.attr("fileName");
            $("#yesBtn").attr("href", link.attr("href"));
            $("#confirmText").html("Do you want to delete the File: <strong>" + fileName + "</strong>?");
            $("#confirmModal").modal();
        });
    });
    var userId = $("#userId").val();
    var itemId = $("#itemId").val();
    // var userId = /*[[${userId}]]*/ '1';
    // var itemId = /*[[${itemId}]]*/ '1';

    function refreshImageTable1() {
        $.ajax({
            url: '/imagesAjax/user/' + userId + '/item/' + itemId + '?principal=true',
            method: 'GET',
            success: function (images) {
                var tableBodyPrincipal = '';

                if (images.length > 0) {
                    images.forEach(image => {
                        tableBodyPrincipal += '<tr>';
                        tableBodyPrincipal += '<td><label class="badge badge-success">Principal</label></td>';
                        tableBodyPrincipal += '<td><img src="' + image.url + '" alt="' + image.name + '" height="60px" /></td>';
                        tableBodyPrincipal += '<td>' + image.name + '</td>';
                        tableBodyPrincipal += '<td><a href="' + image.url + '">Download</a></td>';
                        tableBodyPrincipal += '<td><a href="/images/delete/user/' + userId + '/item/' + itemId + '/file/' + image.name +'?principal=true' +'" fileName="' + image.name + '" id="btnDelete1" title="Delete this image" class="fa-regular fa-trash-can icon-dark btn-delete"></a></td>';
                        tableBodyPrincipal += '</tr>';
                    });
                } else {
                    tableBodyPrincipal = '<tr><td colspan="5">No files found!</td></tr>';
                }
                $('#primaryComponent tbody').html(tableBodyPrincipal);
            },
            error: function (xhr, status, error) {
                console.error('Error fetching images:', error);
            }
        });
    }
    function refreshImageTable2() {
        $.ajax({
            url: '/imagesAjax/user/' + userId + '/item/' + itemId + '?principal=false',
            method: 'GET',
            success: function (images) {
                var tableBodySecondary = '';

                if (images.length > 0) {
                    images.forEach(image => {
                        tableBodySecondary += '<tr>';
                        tableBodySecondary += '<td><label></label></td>';
                        tableBodySecondary += '<td><img src="' + image.url + '" alt="' + image.name + '" height="60px" /></td>';
                        tableBodySecondary += '<td>' + image.name + '</td>';
                        tableBodySecondary += '<td><a href="' + image.url + '">Download</a></td>';
                        tableBodySecondary += '<td><a href="/images/delete/user/' + userId + '/item/' + itemId + '/file/' + image.name +'?principal=true' +'" fileName="' + image.name + '" id="btnDelete2" title="Delete this image" class="fa-regular fa-trash-can icon-dark btn-delete"></a></td>';
                        tableBodySecondary += '</tr>';
                    });
                } else {
                    tableBodySecondary = '<tr><td colspan="5">No files found!</td></tr>';
                }
                $('#secondaryComponent tbody').html(tableBodySecondary);
            },
            error: function (xhr, status, error) {
                console.error('Error fetching images:', error);
            }
        });
    }
</script>
<script>
    Dropzone.autoDiscover = false;

    $("#principal-image").dropzone({
        maxFiles:1,
        maxFilesize: 5,
        acceptedFiles: 'image/*',
        success: function (file, response) {
            toastr.success('File ' + file.name + ' uploaded successfully');
            refreshImageTable1();
        },
        init: function() {
            this.on("maxfilesexceeded", function(file) {
                alert("REMOVING FILES")
                this.removeAllFiles();
                this.addFile(file);
            });
        }
    });
</script>
<script>
    Dropzone.autoDiscover = false;

    $("#secondaries-images").dropzone({
        maxFiles:4,
        maxFilesize: 5,
        acceptedFiles: 'image/*',
        success: function (file, response) {
            toastr.success('File ' + file.name + ' uploaded successfully');
            refreshImageTable2();
        },
        init: function() {
            this.on("maxfilesexceeded", function(file) {
                alert("REMOVING FILES")
                this.removeAllFiles();
                this.addFile(file);
            });
        }
    });
</script>

</body>
</html>
