<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{realstate/dashboard/fragments/common-head :: dashboard-common-head}"></head>
<body>

<div th:replace="~{realstate/frontend/fragments/header-navbar :: header}"></div>
</body>

<div class="main-panel">
<div th:replace="~{realstate/dashboard/property-form :: commonPropertyForm}"></div>

<footer th:replace="~{realstate/dashboard/fragments/common-footer :: commonFooterFragment}"></footer>
<!-- partial -->
</div>
</html>