<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{realstate/dashboard/fragments/common-head :: dashboard-common-head}"></head>

<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav th:replace="~{realstate/dashboard/fragments/common-top-sidebar :: commonTopSidebarNav}"></nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <nav th:replace="~{realstate/dashboard/fragments/common-sidebar :: commonSidebarNav}"></nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row" th:fragment="commonPropertyForm">
                    <td>
                        <div>
                            <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                <p class="text-success">50%</p>
                                <!--                                        <p>85/162</p>-->
                            </div>
                            <div class="progress progress-md">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 50%"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="badge badge-opacity-warning">Primer paso datos de la propiedad</div>
                    </td>
                    <div class="col-12 grid-margin">

                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Anuncio Particular</h4>
                                <form class="form-sample" th:action="@{/property/save}" th:object="${propertyReq}"
                                      method="post">
<!--                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                                    <p class="card-description">Datos inmueble</p>
                                    <div class="row">

                                        <p class="card-description">Titulo del inmueble</p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Titulo</label>
                                                    <div class="col-sm-9">
                                                        <label>
                                                            <input type="text" class="form-control"
                                                                   th:field="*{title}"/>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="selectInputPropertyType">Elige el tipo de
                                                    inmueble</label>
                                                <div class="col-sm-9">
                                                    <select id="selectInputPropertyType"
                                                            class="form-select js-example-basic-single w-100"
                                                            th:field="*{type}">
                                                        <option th:each="type : ${propertyTypes}" th:value="${type}"
                                                                th:text="${type}">Casa
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label>Tipo Operacion</label>
                                                <div class="col-sm-4">
                                                    <div class="form-check">
                                                        <input type="radio" class="form-check-input"
                                                               th:field="*{operationType}" id="membershipRadios1"
                                                               value="Venta" checked>
                                                        <label class="form-check-label"
                                                               for="membershipRadios1">Venta</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="form-check">
                                                        <input type="radio" class="form-check-input"
                                                               th:field="*{operationType}" id="membershipRadios2"
                                                               value="Alquiler">
                                                        <label class="form-check-label"
                                                               for="membershipRadios2">Alquiler</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-description">Ubicacion del inmueble</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Localidad</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           th:field="*{addressLocality}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Nombre de la via</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           th:field="*{addressWayName}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Numero de via</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           th:field="*{addressWayNumber}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Codigo postal</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           th:field="*{addressPostalCode}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--                                                        THE NEXT BLOCK ITS FOR MULTICOMPANY-->
                                    <!--                                                        <p class="card-description">Datos de contacto</p>-->
                                    <!--                                                        <div class="row">-->
                                    <!--                                                            <div class="col-md-6">-->
                                    <!--                                                                <div class="form-group row">-->
                                    <!--                                                                    <label class="col-sm-3 col-form-label">Nombre</label>-->
                                    <!--                                                                    <div class="col-sm-9">-->
                                    <!--                                                                        <input type="text" class="form-control" th:field="*{contactName}"/>-->
                                    <!--                                                                    </div>-->
                                    <!--                                                                </div>-->
                                    <!--                                                            </div>-->
                                    <!--                                                            <div class="col-md-6">-->
                                    <!--                                                                <div class="form-group row">-->
                                    <!--                                                                    <label class="col-sm-3 col-form-label">Telefono</label>-->
                                    <!--                                                                    <div class="col-sm-9">-->
                                    <!--                                                                        <input type="text" class="form-control" th:field="*{contactPhone}"/>-->
                                    <!--                                                                    </div>-->
                                    <!--                                                                </div>-->
                                    <!--                                                            </div>-->
                                    <!--                                                        </div>-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label>Tipo de contacto</label>
                                                <div class="col-sm-3">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:field="*{chat}">
                                                        <label class="form-check-label">Chat interno</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:field="*{cellphone}">
                                                        <label class="form-check-label">Telefono</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:field="*{whatsapp}">
                                                        <label class="form-check-label">WhatsApp</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:field="*{email}">
                                                        <label class="form-check-label">Email</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--                                                            <div class="col-md-6">-->
                                        <!--                                                                <div class="form-group row">-->
                                        <!--                                                                    <label class="col-sm-3 col-form-label">Codigo postal</label>-->
                                        <!--                                                                    <div class="col-sm-9">-->
                                        <!--                                                                        <input type="text" class="form-control" th:field="*{addressPostalCode}"/>-->
                                        <!--                                                                    </div>-->
                                        <!--                                                                </div>-->
                                        <!--                                                            </div>-->
                                    </div>
                                    <p class="card-description">Detalle del inmueble</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label>Tipo de casa</label>
                                                <div class="col-sm-3">
                                                    <div class="form-check">
                                                        <input type="radio" class="form-check-input"
                                                               th:field="*{propertyType}" value="Chalet independiente"
                                                               checked>
                                                        <label class="form-check-label">Chalet independiente</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-check">
                                                        <input type="radio" class="form-check-input"
                                                               th:field="*{propertyType}" value="Chalet pareado">
                                                        <label class="form-check-label">Chalet pareado</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-check">
                                                        <input type="radio" class="form-check-input"
                                                               th:field="*{propertyType}" value="Chalet adosado">
                                                        <label class="form-check-label">Chalet adosado</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label>Estado de la casa</label>
                                                <div class="col-sm-3">
                                                    <div class="form-check">
                                                        <input type="radio" class="form-check-input"
                                                               th:field="*{propertyCondition}" value="A estrenar"
                                                               checked>
                                                        <label class="form-check-label">A estrenar</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-check">
                                                        <input type="radio" class="form-check-input"
                                                               th:field="*{propertyCondition}" value="En buen estado">
                                                        <label class="form-check-label">En buen estado</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-check">
                                                        <input type="radio" class="form-check-input"
                                                               th:field="*{propertyCondition}" value="A reformar">
                                                        <label class="form-check-label">A reformar</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col">
                                                    <label>m² construidos</label>
                                                    <input class="form-control" th:field="*{constructedArea}"
                                                           placeholder="m² construidos">
                                                </div>
                                                <div class="col">
                                                    <label>m² útiles (opcional)</label>
                                                    <input class="form-control" th:field="*{usableArea}"
                                                           placeholder="m² útiles (opcional)">
                                                </div>
                                                <div class="col">
                                                    <label>m² de parcela (opcional)</label>
                                                    <input class="form-control" th:field="*{plotArea}"
                                                           placeholder="m² de parcela (opcional)">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col">
                                                    <label>Número de habitaciones en la vivienda</label>
                                                    <input class="form-control" th:field="*{numBedrooms}"
                                                           placeholder="Número de habitaciones">
                                                </div>
                                                <div class="col">
                                                    <label>Numero de baños y aseos</label>
                                                    <input class="form-control" th:field="*{numBathrooms}"
                                                           placeholder="Numero de baños y aseos">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group row">
                                                <label for="selectInput">Calificación de consumo de energía</label>
                                                <div class="col-sm-9">
                                                    <select id="selectInput" class="form-select"
                                                            th:field="*{energyQualification}">
                                                        <option th:each="option : ${energyQualification}"
                                                                th:value="${option}" th:text="${option}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label>Orientación (opcional)</label>
                                                <div class="col-sm-3">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:field="*{orientationNorth}">
                                                        <label class="form-check-label">Norte</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:field="*{orientationSouth}">
                                                        <label class="form-check-label">Sur</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:field="*{orientationEast}">
                                                        <label class="form-check-label">Este</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:field="*{orientationWest}">
                                                        <label class="form-check-label">Oeste</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label>Otras características de tu chalet</label>
                                                <div class="col-sm-2">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:field="*{wardrobes}">
                                                        <label class="form-check-label">Armarios empotrados</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:field="*{airConditioning}">
                                                        <label class="form-check-label">Aire acondicionado</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-1">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:field="*{balcony}">
                                                        <label class="form-check-label">Balcón</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-1">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:field="*{storageRoom}">
                                                        <label class="form-check-label">Trastero</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:field="*{parkingPlace}">
                                                        <label class="form-check-label">Plaza de garaje incluida en
                                                            el precio</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:field="*{pool}">
                                                        <label class="form-check-label">Piscina</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-1">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:field="*{greenArea}">
                                                        <label class="form-check-label">Zona verde</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <h4 class="card-title">Precio del inmueble</h4>
                                                <div class="col">
                                                    <label>Precio</label>
                                                    <input class="form-control" th:field="*{price}"
                                                           placeholder="Euros">
                                                </div>
                                                <div class="col">
                                                    <label>Gastos de comunidad (opcional)</label>
                                                    <input class="form-control" th:field="*{communityExpenses}"
                                                           placeholder="Euros/mes">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <h4 class="card-title">Descripcion</h4>
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control form-control-lg"
                                                           th:field="*{description}" placeholder="Descripcion"
                                                           aria-label="Descripcion"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <!--                                                                <button type="submit" class="btn btn-primary">Enviar</button>-->
                                            <button type="submit"
                                                    class="btn btn-primary btn-icon-text text-white btn-lg">
                                                <i class="ti-file btn-icon-prepend"></i>
                                                Registrar Propiedad
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer th:replace="~{realstate/dashboard/fragments/common-footer :: commonFooterFragment}"></footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<th:block th:replace="~{realstate/dashboard/fragments/common-scripts :: commonScripts}"></th:block>

</body>

</html>

