<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <style>-->
<!--        .footer {-->
<!--            position: relative;-->
<!--            bottom: 0;-->
<!--            width: 100%;-->
<!--            background-color: #343a40;-->
<!--            color: white;-->
<!--            text-align: center;-->
<!--            padding: 1rem 0;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
<footer class="footer" th:fragment="footer">
    <div class="container text-center">
        <span>&copy; 2024 Registration and Login System. All rights reserved.</span>
    </div>
</footer>
</body>
</html>
