<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{realstate/frontend/fragments/common-head :: commonHeadFragment}"></head>

<body>
<div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->
    <!--                <div th:if="${showSpinner}" id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">-->
    <!--                    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">-->
    <!--                        <span class="sr-only">Loading...</span>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!-- Spinner End -->
    <!-- Navbar Start -->
    <div th:insert="~{realstate/frontend/fragments/header-navbar :: header}"></div>
    <!-- Header End -->
    <!-- Search Start -->
    <div th:replace="~{realstate/frontend/fragments/common-search-bar :: searchBarDiv}"></div>
    <!-- Search End -->
    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <!-- About Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5 align-items-center">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="owl-carousel header-carousel">
                                <div th:each="imageEntity : ${property.images}">
                                    <img class="item" th:src="@{${imageEntity}}" alt="Property Image">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                            <h1 class="mb-4" th:text="${property.title}">#1 Place To Find The Perfect Property</h1>
                            <p class="mb-4" th:text="${property.description}">Tempor erat elitr rebum at clita. Diam
                                dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed
                                stet lorem sit clita duo justo magna dolore erat amet</p>
                            <p th:each="feature : ${property.features}">
                                <i class="fa fa-check text-primary me-3"></i><span th:text="${feature}"></span>
                            </p>

                            <a class="btn btn-primary py-3 px-5 mt-3" th:href="@{/property/details/${property.id}}">Read
                                More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->
            <div class="row g-4">
                <div class="col-12">
                    <div class="row gy-4">
                        <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                            <div class="bg-light rounded p-3">
                                <div class="d-flex align-items-center bg-white rounded p-3"
                                     style="border: 1px dashed rgba(0, 185, 142, .3)">
                                    <div class="icon me-3" style="width: 45px; height: 45px;">
                                        <i class="fa fa-map-marker-alt text-primary"></i>
                                    </div>
                                    <span th:text="${property.address}">123 Street, New York, USA</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                            <div class="bg-light rounded p-3">
                                <div class="d-flex align-items-center bg-white rounded p-3"
                                     style="border: 1px dashed rgba(0, 185, 142, .3)">
                                    <div class="icon me-3" style="width: 45px; height: 45px;">
                                        <i class="fa fa-envelope-open text-primary"></i>
                                    </div>
                                    <span th:text="${property.email}">info@example.com</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                            <div class="bg-light rounded p-3">
                                <div class="d-flex align-items-center bg-white rounded p-3"
                                     style="border: 1px dashed rgba(0, 185, 142, .3)">
                                    <div class="icon me-3" style="width: 45px; height: 45px;">
                                        <i class="fa fa-phone-alt text-primary"></i>
                                    </div>
                                    <span th:text="${property.contactPhone}">+012 345 6789</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <iframe class="position-relative rounded w-100 h-100"
                            th:src="@{${property.mapUrl}}"
                            frameborder="0" style="min-height: 400px; border:0;" allowfullscreen="" aria-hidden="false"
                            tabindex="0"></iframe>
                </div>
                <div class="col-md-6">
                    <div class="wow fadeInUp" data-wow-delay="0.5s">
                        <p class="mb-4">Texto ramdom. <a href="#">Download Now</a>.</p>
                        <!-- Mostrar mensaje de éxito -->
<!--                        SUCCESS CAPTCHA-->
                        <div th:if="${successMessage}" th:text="${successMessage}" style="color: green;"></div>

                        <form th:action="@{/property/contact}" method="post" th:object="${form}">
                            <!--                            <form id="contactForm">-->
                            <input type="hidden" id="propertyId" name="propertyId" th:value="${property.id}">
<!--                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->

                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" th:field="*{name}" class="form-control" id="name" name="name"
                                               placeholder="Your Name">
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" th:field="*{email}" class="form-control" id="email"
                                               name="email" placeholder="Your Email">
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" th:field="*{subject}" class="form-control" id="subject"
                                               name="subject" placeholder="Subject">
                                        <label for="subject">Subject</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" th:field="*{message}"
                                                  placeholder="Leave a message here" id="message" name="message"
                                                  style="height: 150px"></textarea>
                                        <label for="message">Message</label>
                                    </div>
                                </div>
<!--                                BEGIN CAPTCHA-->
                                <div class="col-12">
                                    <!-- Mostrar mensaje de error -->
                                    <div th:if="${errorMessage}" th:text="${errorMessage}"
                                         style="color: red;"></div>
                                </div>
                                <div class="col-md-6">
                                    <label>CAPTCHA</label>
                                    <div class="form-floating">
                                        <img th:src="*{'data:realCaptcha/jpg;base64,'+ realCaptcha}"
                                             alt="form realCaptcha"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>ENTER CAPTCHA</label>
                                    <div class="form-floating">
                                        <input type="hidden" th:field="*{hiddenCaptcha}"/>
                                        <label>
                                            <input type="text" th:field="*{captcha}" class="form-control"/>
                                        </label>
                                    </div>
                                </div>
<!--                                END CAPTCHA-->
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact End -->


    <!-- Footer Start -->
    <div th:replace="~{realstate/frontend/fragments/common-footer :: commonFooterDiv}"></div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<th:block th:replace="~{realstate/frontend/fragments/common-scripts :: commonScripts}"></th:block>

<!--    <script>-->
<!--        function reloadCaptcha() {-->
<!--            document.querySelector("img[alt='CAPTCHA']").src = "/captcha?" + new Date().getTime();-->
<!--        }-->
<!--    </script>-->
<!--    <script>-->
<!--        function submitForm() {-->
<!--            var formData = {-->
<!--                name: $("#name").val(),-->
<!--                email: $("#email").val(),-->
<!--                subject: $("#subject").val(),-->
<!--                message: $("#message").val()-->
<!--            };-->

<!--            $.ajax({-->
<!--                type: "POST",-->
<!--                url: "/property/contact",-->
<!--                data: JSON.stringify(formData),-->
<!--                contentType: "application/json",-->
<!--                success: function(response) {-->
<!--                    $("#response").html(response);-->
<!--                },-->
<!--                error: function(e) {-->
<!--                    $("#response").html("Error al enviar el formulario.");-->
<!--                }-->
<!--            });-->
<!--        }-->
<!--    </script>-->
</body>

</html>